@import url('main-page-styles.css');

.country-flag {
    display: flex;
    width: 80vw; /* La imagen ocupa el 80% del ancho del contenedor */
    height: auto;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
}

/* COUNTRY-PAGE CONTAINER */
#country-page-container {
    display: flex;
    justify-content: center;
}

#country-page-div {
    display: flex;
    flex-direction: column; /* Organiza los elementos en una columna */
    margin-top: 2rem;
    padding: 0 2rem;
}

/* BACK BUTTON */
.back-btn {
    margin-bottom: 3rem; /* Espaciado inferior */
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.back-btn ion-icon {
    font-size: large;
}

/* COUNTRY DETAILS */
.country-title-details h1 {
    padding: 2rem 0 1rem 0;
}

.country-details-container {
    display: flex;
    flex-direction: column; /* Organiza los elementos en una columna */
    margin: 2rem 0;
}

#borders-btn-container {
    display: flex; /* Asegúrate de que los botones se alineen correctamente */
    flex-wrap: wrap; /* Permite que los botones se envuelvan en varias líneas */
    margin-top: 0.2rem; /* Espaciado superior */
}

#borders-btn-container button {
    margin: 0.5rem;
}

#country-page-container button {
    appearance: none;
    padding: 10px 15px; /* Espaciado interno de los botones */
    background-color: var(--elements-color);
    color: var(--text-color); /* Color del texto */
    border: 0.1em solid var(--elements-color);
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    font-size: 0.8rem;
    font-weight: 600;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

#country-page-container button:hover {
    background-color: var(--text-color); /* Color de fondo al pasar el mouse */
    color: var(--background-color);
    border-color: var(--text-color);
    transform: translateY(-2px);
}

#country-page-container button:active {
    box-shadow: none;
    transform: translateY(0);
}

#country-page-container .back-btn {
    font-size: clamp(0.5rem, 1vw + 0.5rem, 0.9rem);
    font-weight: 650;
}

.first-section p, .second-section p {
    margin-bottom: 0.25rem; /* Espacio entre los párrafos */
}

.first-section, .second-section {
    margin-bottom: 2.5rem; /* Espacio entre las secciones */
}

/* MEDIA QUERIES */
@media (min-width: 950px) {  
    #country-page-div {
        width: 93%;
    }
    
    .back-btn {
        margin-bottom: 0rem; /* Espaciado inferior */
    }
    
    .country-details-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2rem 0;
        justify-content: space-between;
    }
    
    .country-title-details {
        display: flex;
        flex-direction: column;
        width: 42vw;
    }
    
    .country-details {
        display: flex;
    }
    
    .second-section {
        padding-left: 5rem;
    }

    .country-flag {
        width: 45vw; /* Mantiene el ancho en pantallas más grandes */
        max-width: 520px; /* Ancho máximo */
    }
    
    #borders-btn-container {
        max-width: 480px;        
    }
}