:root {
    --background-color: hsl(0, 0%, 98%);
    --text-color: hsl(200, 15%, 8%);
    --elements-color: hsl(0, 0%, 100%);
    --input-color: hsl(0, 0%, 52%);
}

.dark-mode {
    --background-color: hsl(207, 26%, 17%);
    --text-color: hsl(0, 0%, 100%);
    --elements-color: hsl(209, 23%, 22%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container-header {
    display: flex;
    justify-content: space-between;
    padding: 1.9rem 1rem;
    background: var(--elements-color);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
}

.header-title {
    font-size: medium;
    font-weight: 900;
}

.dark-mode-toggle {
    border: none;
    background: transparent;
    font-weight: 600;
}

.container {
    background: var(--background-color);
    margin-top: 20px;
}

.control-filters {
    display: flex;
    flex-direction: column;
}

.search-container {
    position: relative; /* Necesario para posicionar el ícono */
    margin: 1.5rem 0.75rem;
    background: var(--elements-color);
    border-radius: 8px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido */
    padding: 0.5rem 2.5rem; /* Espaciado interno */
}

.search-container ion-icon {
    position: absolute;
    left: 2rem; /* Ubicación horizontal del ícono */
    color: var(--input-color);
    font-size: 1.3rem;
}

.search-country {
    flex-grow: 1; /* Input ocupa todo el espacio restante */
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--text-color);
    padding: 0.5rem 0.5rem 0.5rem 2.5rem; /* Espacio para evitar superposición con el ícono */
    margin: 0;
}

.search-country::placeholder {
    color: var(--input-color);
    font-size: 0.9rem;
}

.filter-container {
    position: relative;
    display: inline-block; /* Para mantener los elementos alineados */
    width: 100%;
}

.filter-country {
    padding: 1rem 1.5rem;
    margin: 1.5rem 0.75rem;
    background: var(--elements-color);
    border: none;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    appearance: none; /* Oculta la flecha nativa */
    -webkit-appearance: none; /* Para Safari y Chrome */
    -moz-appearance: none; /* Para Firefox */
    max-width: 200px;
    width: 100%;
    padding-right: 2.5rem;
    font-weight: 600;
}

/* Flecha Icon del select */
.filter-container ion-icon {
    position: absolute;
    left: 11.5rem;
    top: 50%; /* Centrado vertical */
    transform: translateY(-50%); /* Ajuste fino para centrarlo */
    font-size: 0.7rem;
    color: var(--text-color);
    pointer-events: none; /* Asegura que el icono no interfiera con la interacción */
}

.filter-country option {
    font-size: 105%;
}

#countries-container {
    display: grid;
    grid-template-columns: 75%;
    gap: 2.5rem;
    justify-content: center;
    padding: 3% 0;
    margin-bottom: 5%;
}

.country-card {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    overflow: hidden;
    background: var(--elements-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
}

.country-flag {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: 11rem;
    object-fit: cover; /* La imagen cubrirá el contenedor, manteniendo su relación de aspecto */
}

.card-body {
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;

}

.country-name {
    margin-bottom: 8px;
    font-weight: 900;
}

.card-body span {
    font-weight: 700;
}

.page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20%;
}

.page button  {
    appearance: none;
    background-color: transparent;
    border: 0.1em solid var(--text-color);
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: var(--text-color);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    outline: none;
    padding: 0.6rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.page button:disabled {
    pointer-events: none;
    border: 0.1em solid var(--elements-color);
    color: var(--input-color);
}

.page button:hover {
    color: var(--background-color);
    background-color: var(--text-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.page button:active {
    box-shadow: none;
    transform: translateY(0);
}

#page-info {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
}